.k { 
    height: 70vh;
}

.heading {
    height: 25vh;
}

.heading-1 {
    text-align: center;
    color: #e22417;
    font-size: 40px;
    padding: 50px;
    margin-bottom: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
  /* Responsive columns */
@media screen and (max-width: 600px) {
  .column-1 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
