.k {
  height: 60vh;
}

.heading {
  height: 15vh;
}

.heading-1 {
  text-align: center;
  color: #e22417;
  font-size: 40px;
  padding: 20px;
  margin-bottom: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Responsive columns */
@media screen and (max-width: 480px) {
  .k {
    height: 40vh;
    position: relative;
    width: 100%;
    top: 50px;
  }

  .heading-1 {
    position: relative;
    height: 15vh;
    bottom: 40px;
    padding: 80px;
  }
}

@media screen and (max-width: 992px) {
  .k {
    height: 70vh;
    position: relative;
    width: 100%;
    top: 0px;
  }
  .heading-1 {
    position: relative;
    height: 15vh;
    bottom: 40px;
  }
}
