.g {
  height: 50vh;
  margin-top: 10px;
}

.game {
  height: 35vh;
  background-color: blanchedalmond;
  border-radius: 30px;
  width: 70%;
  margin: auto;
  margin-top: 120px;
  align-content: center;
}

@media screen and (max-width: 480px) {
  .g {
    height: 70vh;
    position: relative;
    top: 120px;
  }
}
