@keyframes dgcolor {
  0% {
      background-color: rgb(46, 27, 27)
  }

  30% {
      background-color: rgb(187, 37, 37)
  }

  60% {
      background-color: #423ba3
  }

  90% {
      background-color: #160466
  }

  100% {
      background-color: rgb(107, 23, 23)
  }
}

.s { 
    height: 125vh;
}

.h {
    height: 10vh;
}

.h1 {
    text-align: center;
    color: #e22417;
    font-size: 40px;
    padding: 30px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.g {
  height: auto;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-bottom: 20px;
  height: auto;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 10px 5px;
  padding: 40px;
  height: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 80px;
  text-align: center;
  /* background-color: red; */
  height: 350px;
  justify-content: space-between;
  border-radius: 10px;
  -webkit-animation: dgcolor 20s infinite;
  animation: dgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;

}
