.social-container {
    background: #eee;
    padding: 25px 50px;
  }

  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

  a.social:hover {
    transform: translateY(-2px);
  }

  a.github {
    color: #0c0b0b73;
  }
  
  a.facebook {
    color: #4968ad;
  }
  
  a.twitter {
    color: #49a1eb;
  }
  
  a.instagram {
    color: black;
  }

  @media screen and (max-width: 600px) {
    .a {
      width: 100%;
      display: block;
      
    }
  }